Server-RPi/flows.json
[{"id":"5f834a90.837324","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bfe9d661.017ab8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cd6cdf4e.4f288","type":"ui_group","z":"","name":"DAS Status","tab":"bfe9d661.017ab8","disp":true,"width":"6","collapse":false},{"id":"ef943cff.ecf44","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b1a47930.713f08","type":"function","z":"5f834a90.837324","name":"","func":"var totalValue = parseInt(msg.payload);\nvar adcVal = (totalValue >> 16);\nvar digitalStatus = (totalValue & 0x0000FFFF);\nmsg.payload = {\n    adcVal : adcVal.toString(),\n    digitalStatus : digitalStatus.toString()\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["9d4e009f.32a16","a92696d5.0560c8","ea75b2b6.aa914"]]},{"id":"25b08841.4032e8","type":"udp in","z":"5f834a90.837324","name":"","iface":"","port":"8082","ipv":"udp4","multicast":"false","group":"255.255.255.255","datatype":"utf8","x":110,"y":280,"wires":[["b1a47930.713f08"]]},{"id":"ea75b2b6.aa914","type":"ui_gauge","z":"5f834a90.837324","name":"","group":"cd6cdf4e.4f288","order":0,"width":0,"height":0,"gtype":"gage","title":"Analog Value","label":"","format":"{{msg.payload.adcVal}}","min":0,"max":"4096","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":280,"wires":[],"inputLabels":["Sensor - Analog"]},{"id":"9d4e009f.32a16","type":"ui_gauge","z":"5f834a90.837324","name":"","group":"cd6cdf4e.4f288","order":1,"width":0,"height":0,"gtype":"donut","title":"Digital Value","label":"","format":"{{msg.payload.digitalStatus}}","min":0,"max":"1","colors":["#00b500","#80ffff","#80ffff"],"seg1":"1","seg2":"1","x":550,"y":180,"wires":[]},{"id":"a92696d5.0560c8","type":"debug","z":"5f834a90.837324","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":480,"y":120,"wires":[]},{"id":"e02e9652.61a8b8","type":"debug","z":"5f834a90.837324","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":340,"wires":[]}]